{% extends "base_page.html" %}

{% load bootstrap %}

{% block main_content %}
    <div class="" >

      <h2>Enter new passwords</h2>
      <h4><a class="btn btn-default btn-xl js-scroll-trigger" href="{% url 'root' %}">Use old password as it is for now</a></h4>
      
      <div class="line"></div>   
      <form action="" method="post">
        {% csrf_token %}
    
        {{ form|bootstrap}}
    
        <input class="btn btn-primary btn-xl js-scroll-trigger" type="submit" value="Save Changes" />
    
      </form>
    </div>
{% endblock main_content %}
